<!--

    Pokédexer
    Copyright © 2021 Gmasil

    This file is part of Pokédexer.

    Pokédexer is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Pokédexer is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Pokédexer. If not, see <https://www.gnu.org/licenses/>.

-->
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>App Site</title>
</head>
</body>

<div th:remove="tag" th:fragment="app">
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">Cards</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/series">Series</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" th:href="${'/add' + (sort != null ? ('?sort=' + sort + (desc ? '&desc' : '')) : (''))}">Add card</a>
						<a class="dropdown-item" href="/series/add">Add series</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="/updatepopulation">Update population</a>
					</div>
				</li>
			</ul>
			<ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/vue/">Vue.js</a>
                </li>
				<li class="nav-item">
					<a class="nav-link" href="/logout">Logout</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container-fluid">
		<div th:replace="'fragments/' + ${fragmentfile} :: ${fragment}"></div>
	</div>
</div>

</body>
</html>
