<!--

    Pokédexer
    Copyright © 2021 Gmasil

    This file is part of Pokédexer.

    Pokédexer is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Pokédexer is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Pokédexer. If not, see <https://www.gnu.org/licenses/>.

-->
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login Fragment</title>
</head>
</body>

<div th:remove="tag" th:fragment="list">
	<a href="/series">Series</a>
	<br />
	<a href="/add">Add Card</a>
	<h2>Cards</h2>
	<table class="table table-bordered table-hover table-sm">
		<caption th:text="${'Total cards: ' + cards.size()}">Total cards</caption>
		<thead class="thead-light">
			<tr>
				<th>Name</th>
				<th>Cert</th>
				<th>Grade</th>
				<th>Population</th>
				<th>Purchase Date</th>
				<th>Purchase Price</th>
				<th>Grading Sendoff</th>
				<th>Grading Received</th>
				<th>Set Name</th>
				<th>Card Number</th>
				<th>Status</th>
				<th>Progress</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="card : ${cards}">
				<td th:text="${card.getName()}"></td>
				<td th:if="${card.getCertNumber() == null}"></td>
				<td th:unless="${card.getCertNumber() == null}">
					<a th:text="${card.getCertNumber()}" th:href="${'https://www.psacard.com/cert/' + card.getCertNumber()}"></a>
				</td>
				<td th:text="${card.getGrade()}"></td>
				<td th:text="${card.getPopulation()}"></td>
				<td th:text="${#utils.formatDate(card.getPurchaseDate())}"></td>
				<td th:text="${#utils.formatCurrency(card.getPurchasePrice())}"></td>
				<td th:text="${card.getGradingSendOffDate()}"></td>
				<td th:text="${card.getGradingReceivedDate()}"></td>
				<td th:text="${card.getSeries() != null ? card.getSeries().getName() : ''}"></td>
				<td th:text="${card.getCardNumber()}"></td>
				<td th:text="${card.getStatus()}"></td>
				<td>
					<img th:src="${'/api/progress/' + card.getProgress()}" th:title="${#utils.formatProgress(card.getProgress())}" src="" alt=""></img>
				</td>
				<td>
					<a th:href="@{/edit/{id}(id=${card.getId()})}">
						<em class="material-icons icon-bigger">edit</em>
					</a>
					<a th:href="@{/delete/{id}(id=${card.getId()})}">
						<em class="material-icons icon-bigger">delete</em>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div th:fragment="add-edit" class="container">
	<h2 th:text="${(method == 'edit' ? 'Edit' : 'New') + ' Card'}">New/Edit Card</h2>
	<form action="#" th:action="${'/' + (method == 'edit' ? 'edit/' + card.id : 'add')}" th:object="${card}" method="post">
		<div class="form-row">
			<div class="col-12">
				<div class="form-group">
					<label for="card-crud-name">Name:</label>
					<input id="card-crud-name" class="form-control form-control-sm" type="text" th:field="*{name}" />
					<span class="small form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="col-8">
				<div class="form-group">
					<label for="card-crud-select-series">Series:</label>
					<select id="card-crud-select-series" th:field="*{series}">
						<option data-placeholder="true" value=""></option>
						<option th:each="s : ${series}" th:attr="selected=${card.getSeries() != null ? (card.getSeries().getId() == s.getId()) : true}" th:value="${s.getId()}" th:text="${s.getName()}"></option>
					</select>
				</div>
			</div>
			<div class="col-4">
				<div class="form-group">
					<label for="card-crud-cardnumber">Card Number:</label>
					<input id="card-crud-cardnumber" class="form-control form-control-sm" type="text" th:field="*{cardNumber}" />
					<span class="field-error" th:if="${#fields.hasErrors('cardNumber')}" th:errors="*{cardNumber}"></span>
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="col-4">
				<div class="form-group">
					<label for="card-crud-certnumber">Cert:</label>
					<input id="card-crud-certnumber" class="form-control form-control-sm" type="text" th:field="*{certNumber}" />
					<span class="field-error" th:if="${#fields.hasErrors('certNumber')}" th:errors="*{certNumber}"></span>
				</div>
			</div>
			<div class="col-4">
				<div class="form-group">
					<label for="card-crud-grade">Grade:</label>
					<input id="card-crud-grade" class="form-control form-control-sm" type="text" th:field="*{grade}" />
					<span class="field-error" th:if="${#fields.hasErrors('grade')}" th:errors="*{grade}"></span>
				</div>
			</div>
			<div class="col-4">
				<div class="form-group">
					<label for="card-crud-population">Population:</label>
					<input id="card-crud-population" class="form-control form-control-sm" type="text" th:field="*{population}" />
					<span class="field-error" th:if="${#fields.hasErrors('population')}" th:errors="*{population}"></span>
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="col-6">
				<div class="form-group">
					<label for="card-crud-purchasedate">Purchase Date:</label>
					<input id="card-crud-purchasedate" class="form-control form-control-sm" type="date" th:field="*{purchaseDate}" />
					<span class="field-error" th:if="${#fields.hasErrors('purchaseDate')}" th:errors="*{purchaseDate}"></span>
				</div>
			</div>
			<div class="col-6">
				<div class="form-group">
					<label for="card-crud-purchaseprice">Purchase Price:</label>
					<div class="input-group input-group-sm">
						<input id="card-crud-purchaseprice" class="form-control form-control-sm text-right" type="text" th:field="*{purchasePrice}" />
						<div class="input-group-append">
							<span class="input-group-text">€</span>
						</div>
					</div>
					<span class="form-text" th:if="${#fields.hasErrors('purchasePrice')}" th:errors="*{purchasePrice}"></span>
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="col-6">
				<div class="form-group">
					<label for="card-crud-gradingsendoffdate">Grading Sendoff Date:</label>
					<input id="card-crud-gradingsendoffdate" class="form-control form-control-sm" type="date" th:field="*{gradingSendOffDate}" />
					<span class="field-error" th:if="${#fields.hasErrors('gradingSendOffDate')}" th:errors="*{gradingSendOffDate}"></span>
				</div>
			</div>
			<div class="col-6">
				<div class="form-group">
					<label for="card-crud-gradingreceiveddate">Grading Sendoff Date:</label>
					<input id="card-crud-gradingreceiveddate" class="form-control form-control-sm" type="date" th:field="*{gradingReceivedDate}" />
					<span class="field-error" th:if="${#fields.hasErrors('gradingReceivedDate')}" th:errors="*{gradingReceivedDate}"></span>
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="col-6">
				<div class="form-group">
					<label for="card-crud-status">Status:</label>
					<input id="card-crud-status" class="form-control form-control-sm" type="text" th:field="*{status}" />
					<span class="field-error" th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></span>
				</div>
			</div>
			<div class="col-6">
				<div class="form-group">
					<label for="card-crud-select-progress">Progress:</label>
					<select id="card-crud-select-progress" class="form-control form-control-sm" th:field="*{progress}">
						<option th:each="value,iter : ${progressvalues}" th:attr="selected=${card.getProgress() == iter.index}" th:value="${iter.index}" th:text="${iter.index + ' - ' + value}"></option>
					</select>
				</div>
			</div>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary" th:text="${method == 'edit' ? 'Edit' : 'Add'}">Submit</button>
			<a href="/" class="ml-3 btn btn-secondary">Cancel</a>
		</div>
	</form>
	<script type="text/javascript">
		new SlimSelect({
			select : '#card-crud-select-series',
			placeholder : 'Select Series',
			searchHighlight : true,
			allowDeselect : true,
			deselectLabel : '<span class="text-danger">✘</span>'
		});
	</script>
</div>

<div th:fragment="delete-confirm" class="container">
	<h2>Delete Card</h2>
	<p>
		Are you sure you want to delete the card
		<b th:text="${'&nbsp;' + card.getName()}"></b>
		?
	</p>
	<form action="#" th:action="${'/delete/' + card.getId()}" method="post">
		<div class="form-group">
			<button type="submit" class="btn btn-danger">Delete</button>
			<a href="/" class="ml-3 btn btn-secondary">Cancel</a>
		</div>
	</form>
</div>

</body>
</html>
