<!--

    Pokédexer
    Copyright © 2021 Gmasil

    This file is part of Pokédexer.

    Pokédexer is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Pokédexer is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Pokédexer. If not, see <https://www.gnu.org/licenses/>.

-->
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>Login Fragment</title>
</head>
</body>

<div th:remove="tag" th:fragment="list">
	<h2>Cards</h2>
	<table class="table table-bordered table-hover table-striped table-sm">
		<caption th:text="${'Total cards: ' + cards.size()}">Total cards</caption>
		<thead class="thead-light">
			<tr
				th:with="columns=${ {'Name', 'Cert', 'Grade', 'Population', 'Purchase Date', 'Purchase Price', 'Grading Sendoff', 'Grading Received', 'Series', 'Card Number', 'Language', 'Status', 'Progress', 'Last Updated', 'Created'} }">
				<th th:each="column : ${columns}" scope="col">
					<a class="mr-3 pr-3" th:href="${'?sort=' + column + (column.equalsIgnoreCase(sort) and !desc ? '&desc' : '')}" th:text="${column}">Colname</a>
					<em style="width: 0; transform: translate(-2rem, 5px);" th:if="${column.equalsIgnoreCase(sort)}" th:text="${desc ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}" class="material-icons icon-bigger">keyboard_arrow_down</em>
				</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="card : ${cards}">
				<td th:text="${card.getName()}"></td>
				<td th:if="${card.getCertNumber() == null}"></td>
				<td th:unless="${card.getCertNumber() == null}">
					<a th:text="${card.getCertNumber()}" th:href="${'https://www.psacard.com/cert/' + card.getCertNumber()}"></a>
				</td>
				<td th:text="${card.getGrade()}"></td>
				<td th:text="${card.getPopulation()}"></td>
				<td th:text="${#utils.formatDate(card.getPurchaseDate())}"></td>
				<td th:text="${#utils.formatCurrency(card.getPurchasePrice())}"></td>
				<td th:text="${#utils.formatDate(card.getGradingSendOffDate())}"></td>
				<td th:text="${#utils.formatDate(card.getGradingReceivedDate())}"></td>
				<td th:text="${card.getSeries() != null ? card.getSeries().getName() : ''}"></td>
				<td th:text="${card.getCardNumber()}"></td>
				<td th:text="${card.getLanguage() != null ? card.getLanguage().getName() : ''}"></td>
				<td th:text="${card.getStatus()}"></td>
				<td>
					<img th:src="${'/api/progress/' + card.getProgress()}" th:title="${card.getProgressValue()}" src="" alt=""></img>
				</td>
				<td th:text="${#utils.formatDate(card.getUpdatedAt())}"></td>
				<td th:text="${#utils.formatDate(card.getCreatedAt())}"></td>
				<td>
					<a th:href="${'/edit/' + card.getId() + '?sort=' + sort + (desc ? '&desc' : '')}">
						<em class="material-icons icon-bigger">edit</em>
					</a>
					<a th:href="${'/delete/' + card.getId() + '?sort=' + sort + (desc ? '&desc' : '')}">
						<em class="material-icons icon-bigger">delete</em>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div th:fragment="add-edit" class="container">
	<h2 th:text="${(method == 'edit' ? 'Edit' : 'New') + ' Card'}">New/Edit Card</h2>
	<form action="#" th:action="${'/' + (method == 'edit' ? 'edit/' + cardDTO.getId() : 'add') + '?sort=' + sort + (desc ? '&desc' : '')}" th:object="${cardDTO}" method="post">
		<div class="form-row">
			<div class="col-12">
				<div class="form-group">
					<label for="card-crud-name">Name:</label>
					<input id="card-crud-name" class="form-control form-control-sm" type="text" th:field="*{name}" />
					<span class="small form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="col-6">
				<div class="form-group">
					<label for="card-crud-select-series">Series:</label>
					<select id="card-crud-select-series" th:field="*{series}">
						<option data-placeholder="true" value=""></option>
						<option th:each="s : ${series}" th:attr="selected=${cardDTO.getSeries() != null ? (cardDTO.getSeries().getId() == s.getId()) : true}" th:value="${s.getId()}" th:text="${s.getName()}"></option>
					</select>
					<span class="small form-text text-danger" th:if="${#fields.hasErrors('series')}" th:errors="*{series}"></span>
				</div>
			</div>
			<div class="col-2">
				<div class="form-group">
					<label for="card-crud-cardnumber">Card Number:</label>
					<input id="card-crud-cardnumber" class="form-control form-control-sm" type="text" th:field="*{cardNumber}" />
					<span class="small form-text text-danger" th:if="${#fields.hasErrors('cardNumber')}" th:errors="*{cardNumber}"></span>
				</div>
			</div>
			<div class="col-4">
				<div class="form-group">
					<label for="card-crud-select-language">Language:</label>
					<select id="card-crud-select-language" th:field="*{language}">
						<option data-placeholder="true" value=""></option>
						<option th:each="l : ${languages}" th:attr="selected=${cardDTO.getLanguage() != null ? (cardDTO.getLanguage().getId() == l.getId()) : true}" th:value="${l.getId()}" th:text="${l.getName()}"></option>
					</select>
					<span class="small form-text text-danger" th:if="${#fields.hasErrors('language')}" th:errors="*{language}"></span>
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="col-4">
				<div class="form-group">
					<label for="card-crud-certnumber">Cert:</label>
					<input id="card-crud-certnumber" class="form-control form-control-sm" type="text" th:field="*{certNumber}" />
					<span class="small form-text text-danger" th:if="${#fields.hasErrors('certNumber')}" th:errors="*{certNumber}"></span>
				</div>
			</div>
			<div class="col-4">
				<div class="form-group">
					<label for="card-crud-grade">Grade:</label>
					<input id="card-crud-grade" class="form-control form-control-sm" type="text" th:field="*{grade}" />
					<span class="small form-text text-danger" th:if="${#fields.hasErrors('grade')}" th:errors="*{grade}"></span>
				</div>
			</div>
			<div class="col-4">
				<label for="card-crud-population">Population:</label>
				<div class="input-group input-group-sm mb-3">
					<input id="card-crud-population" class="form-control form-control-sm" type="text" th:field="*{population}" />
					<div class="input-group-append">
						<div class="input-group-text">
							<input id="card-crud-population-auto" type="checkbox" name="autoPopulation" class="mr-1">
							<label class="m-0 p-0" for="card-crud-population-auto">Auto</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="col-6">
				<div class="form-group">
					<label for="card-crud-purchasedate">Purchase Date:</label>
					<input id="card-crud-purchasedate" class="form-control form-control-sm" type="date" th:field="*{purchaseDate}" />
					<span class="small form-text text-danger" th:if="${#fields.hasErrors('purchaseDate')}" th:errors="*{purchaseDate}"></span>
				</div>
			</div>
			<div class="col-6">
				<div class="form-group">
					<label for="card-crud-purchaseprice">Purchase Price:</label>
					<div class="input-group input-group-sm">
						<input id="card-crud-purchaseprice" class="form-control form-control-sm text-right" type="text" th:field="*{purchasePrice}" />
						<div class="input-group-append">
							<span class="input-group-text">€</span>
						</div>
					</div>
					<span class="small form-text text-danger" th:if="${#fields.hasErrors('purchasePrice')}" th:errors="*{purchasePrice}"></span>
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="col-6">
				<div class="form-group">
					<label for="card-crud-gradingsendoffdate">Grading Sendoff Date:</label>
					<input id="card-crud-gradingsendoffdate" class="form-control form-control-sm" type="date" th:field="*{gradingSendOffDate}" />
					<span class="small form-text text-danger" th:if="${#fields.hasErrors('gradingSendOffDate')}" th:errors="*{gradingSendOffDate}"></span>
				</div>
			</div>
			<div class="col-6">
				<div class="form-group">
					<label for="card-crud-gradingreceiveddate">Grading Received Date:</label>
					<input id="card-crud-gradingreceiveddate" class="form-control form-control-sm" type="date" th:field="*{gradingReceivedDate}" />
					<span class="small form-text text-danger" th:if="${#fields.hasErrors('gradingReceivedDate')}" th:errors="*{gradingReceivedDate}"></span>
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="col-6">
				<div class="form-group">
					<label for="card-crud-status">Status:</label>
					<input id="card-crud-status" class="form-control form-control-sm" type="text" th:field="*{status}" />
					<span class="small form-text text-danger" th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></span>
				</div>
			</div>
			<div class="col-6">
				<div class="form-group">
					<label for="card-crud-select-progress">Progress:</label>
					<select id="card-crud-select-progress" class="form-control form-control-sm" th:field="*{progress}">
						<option th:each="value,iter : ${progressvalues}" th:attr="selected=${cardDTO.getProgress() == iter.index}" th:value="${iter.index}" th:text="${iter.index + ' - ' + value}"></option>
					</select>
					<span class="small form-text text-danger" th:if="${#fields.hasErrors('progress')}" th:errors="*{progress}"></span>
				</div>
			</div>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary" th:text="${method == 'edit' ? 'Edit' : 'Add'}">Submit</button>
			<a th:href="${'/' + '?sort=' + sort + (desc ? '&desc' : '')}" class="ml-3 btn btn-secondary">Cancel</a>
		</div>
	</form>
	<script type="text/javascript">
		new SlimSelect({
			select : '#card-crud-select-series',
			placeholder : 'Select Series',
			searchHighlight : true,
			allowDeselect : true,
			deselectLabel : '<span class="text-danger">✘</span>'
		});
		new SlimSelect({
			select : '#card-crud-select-language',
			placeholder : 'Select Language',
			searchHighlight : true,
			allowDeselect : true,
			deselectLabel : '<span class="text-danger">✘</span>'
		});
	</script>
</div>

<div th:fragment="delete-confirm" class="container">
	<h2>Delete Card</h2>
	<p>
		Are you sure you want to delete the card
		<strong th:text="${'&nbsp;' + card.getName()}"></strong>
		?
	</p>
	<form action="#" th:action="${'/delete/' + card.getId() + '?sort=' + sort + (desc ? '&desc' : '')}" method="post">
		<div class="form-group">
			<button type="submit" class="btn btn-danger">Delete</button>
			<a th:href="${'/' + '?sort=' + sort + (desc ? '&desc' : '')}" class="ml-3 btn btn-secondary">Cancel</a>
		</div>
	</form>
</div>

</body>
</html>
