<!--

    Pokédexer
    Copyright © 2021 Gmasil

    This file is part of Pokédexer.

    Pokédexer is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Pokédexer is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Pokédexer.  If not, see <https://www.gnu.org/licenses/>.

-->
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login Fragment</title>
</head>
</body>

<div th:remove="tag" th:fragment="list">
	<a href="/">Home</a>
	<br />
	<a href="/series/add">Add Series</a>
	<h2>Series</h2>
	<table class="table table-bordered table-hover table-sm">
		<thead class="thead-light">
			<tr>
				<th>Name</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="s : ${series}">
				<td th:text="${s.getName()}"></td>
				<td>
					<a th:href="@{/series/edit/{id}(id=${s.getId()})}">
						<em class="material-icons icon-bigger">edit</em>
					</a>
					<a th:href="@{/series/delete/{id}(id=${s.getId()})}">
						<em class="material-icons icon-bigger">delete</em>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div th:remove="tag" th:fragment="add-edit">
	<h2 th:text="${(method == 'edit' ? 'Edit' : 'New') + ' Series'}">New/Edit Series</h2>
	<form action="#" th:action="${'/series/' + (method == 'edit' ? 'edit/' + series.id : 'add')}" th:object="${series}" method="post">
		<div class="form-row">
			<div class="col-12">
				<div class="form-group">
					<label for="series-crud-name">Name:</label>
					<input id="series-crud-name" class="form-control form-control-sm" type="text" th:field="*{name}" />
					<span class="small text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
					<span class="small text-danger" th:if="${namealreadyexists != null}">Name already exists</span>
				</div>
			</div>
		</div>
		<div class="form-element">
			<button class="btn btn-primary" type="submit" th:text="${method == 'edit' ? 'Edit' : 'Add'}">Submit</button>
			<a href="/series" class="ml-3 btn btn-secondary">Cancel</a>
		</div>
	</form>
</div>

<div th:fragment="delete-confirm" class="container">
	<h2>Delete Series</h2>
	<p>
		Are you sure you want to delete the series
		<b th:text="${'&nbsp;' + series.getName()}"></b>
		?
	</p>
	<form action="#" th:action="${'/series/delete/' + series.getId()}" method="post">
		<div class="form-group">
			<button type="submit" class="btn btn-danger">Delete</button>
			<a href="/series" class="ml-3 btn btn-secondary">Cancel</a>
		</div>
	</form>
</div>

</body>
</html>
