<!--

    Pokédexer
    Copyright © 2021 Gmasil

    This file is part of Pokédexer.

    Pokédexer is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Pokédexer is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Pokédexer.  If not, see <https://www.gnu.org/licenses/>.

-->
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Setup Fragment</title>
</head>
</body>

<div th:remove="tag" th:fragment="setup">
	<h1>Setup User</h1>
	<form action="#" th:action="@{'/setup'}" th:object="${user}" method="post">
		<div class="form-group row">
			<label for="setup-user-name" class="col-sm-2 col-form-label">Name:</label>
			<div class="col-sm-10">
				<input id="setup-user-name" class="form-control" type="text" th:field="*{name}" />
				<span class="small text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
			</div>
		</div>
		<div class="form-group row">
			<label for="setup-user-password" class="col-sm-2 col-form-label">Password:</label>
			<div class="col-sm-10">
				<input id="setup-user-password" class="form-control" type="password" th:field="*{password}" />
				<span class="small text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</span>
			</div>
		</div>
		<div class="form-element">
			<button class="btn btn-primary" type="submit">Setup User</button>
		</div>
	</form>
</div>

<div th:remove="tag" th:fragment="already-setup">
	<h2 class="text-center">Everything is set up!</h2>
	<div class="d-flex justify-content-center">
		<a class="btn btn-primary" href="/" role="button">Start using the Collector</a>
	</div>
</div>

</body>
</html>
