<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login Fragment</title>
</head>
</body>

<div th:remove="tag" th:fragment="list">
	<p>
		<a href="/dashboard/transactions/add">
			<em class="material-icons">add</em>
			Add a new transaction
		</a>
	</p>
	<h2 th:if="${transactions.isEmpty()}">No transactions yet!</h2>
	<th:block th:unless="${transactions.isEmpty()}">
		<h2>Transactions</h2>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Amount</th>
					<th>Date</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="transaction : ${transactions}">
					<td th:text="${transaction.getName()}"></td>
					<td th:text="${transaction.getAmount()}"></td>
					<td th:text="${#temporals.format(transaction.getTransactionDate(), 'dd.MM.yyyy')}"></td>
					<td>
						<a th:href="@{/dashboard/transactions/edit/{id}(id=${transaction.id})}">
							<em class="material-icons">edit</em>
						</a>
						<a th:href="@{/dashboard/transactions/delete/{id}(id=${transaction.id})}">
							<em class="material-icons">delete</em>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</th:block>
</div>

<div th:remove="tag" th:fragment="add-edit">
	<h2 th:text="${(method == 'edit' ? 'Edit' : 'New') + ' Transaction'}">New/Edit Transaction</h2>
	<form action="#" th:action="${'/dashboard/transactions/' + (method == 'edit' ? 'edit/' + transactionDTO.id : 'add')}" th:object="${transactionDTO}" method="post">
		<div class="form-element">
			<label for="transaction-crud-name">Name:</label>
			<input id="transaction-crud-name" type="text" th:field="*{name}" />
			<span class="field-error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
		</div>
		<div class="form-element">
			<label for="transaction-crud-amount">Amount:</label>
			<input id="transaction-crud-amount" type="text" th:field="*{amount}" />
			<span class="field-error" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></span>
		</div>
		<div class="form-element">
			<label for="transaction-crud-date">Date:</label>
			<input id="transaction-crud-date" type="date" th:field="*{transactionDate}" />
			<span class="field-error" th:if="${#fields.hasErrors('transactionDate')}" th:errors="*{transactionDate}"></span>
		</div>
		<div class="form-element">
			<select id="select-categories" th:field="*{categories}" multiple>
				<option th:each="category : ${categories}" th:attr="selected=${transactionDTO.getCategories().contains(category)}" th:value="${category.getId()}" th:text="${category.getName()}"></option>
			</select>
		</div>
		<div class="form-element">
			<button type="submit" th:text="${method == 'edit' ? 'Edit' : 'Add'}">Submit</button>
		</div>
	</form>
	<script type="text/javascript">
		new SlimSelect({
			select : '#select-categories',
			placeholder : 'Select categories',
			searchHighlight : true
		});
	</script>
</div>

</body>
</html>
