<!--

    Pokédexer
    Copyright © 2021 Gmasil

    This file is part of Pokédexer.

    Pokédexer is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Pokédexer is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Pokédexer. If not, see <https://www.gnu.org/licenses/>.

-->
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<!-- https://material.io/tools/icons/ -->
<link rel="stylesheet" type="text/css" href="/public/material-design-icons/material-design-icons.css">
<!-- jquery -->
<script src="/webjars/jquery/jquery.min.js"></script>
<!-- bootstrap -->
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
<!-- http://slimselectjs.com -->
<script src="/webjars/slimselect/slimselect.min.js"></script>
<link href="/webjars/slimselect/slimselect.min.css" rel="stylesheet"></link>
<!-- custom -->
<link href="/public/css/main.css" rel="stylesheet"></link>
<title th:text="${appname}">Title</title>
</head>

<body>
	<div th:replace="'sites/' + ${site} :: ${site}"></div>
</body>
</html>
