<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<!-- https://material.io/tools/icons/ -->
<link rel="stylesheet" type="text/css" href="/public/material-design-icons/material-design-icons.css">
<!-- http://slimselectjs.com -->
<script src="/public/slimselectjs/slimselect.min.js"></script>
<link href="/public/slimselectjs/slimselect.min.css" rel="stylesheet"></link>
<!-- custom -->
<link href="/public/css/main.css" rel="stylesheet"></link>
<title>Collector</title>
</head>

<body>
	<div th:replace="'sites/' + ${site} :: ${site}"></div>
</body>
</html>
