<!--

    Pokédexer
    Copyright © 2021 Gmasil

    This file is part of Pokédexer.

    Pokédexer is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Pokédexer is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Pokédexer. If not, see <https://www.gnu.org/licenses/>.

-->
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>Pokédexer</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="/public/beegridtable-1.1.2/styles/beegridtable.css" />

<link href="/public/css/main.css" rel="stylesheet"></link>

</head>

<body>
    <div id="content">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <a class="navbar-brand">Pokédexer</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <router-link tag="li" class="nav-item" to="/"><a class="nav-link">Cards</a></router-link>
                    <router-link tag="li" class="nav-item" to="/series"><a class="nav-link">Series</a></router-link>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Back to Legacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid mt-3">
            <router-view></router-view>
            <div class="loading-background" v-show="isLoading"></div>
        </div>
    </div>

    <script src="/webjars/axios/dist/axios.min.js"></script>
    <script src="/webjars/momentjs/min/moment.min.js"></script>

    <script src="/webjars/vue/vue.min.js"></script>
    <script src="/webjars/vue-router/dist/vue-router.min.js"></script>

    <script src="/public/beegridtable-1.1.2/beegridtable.min.js"></script>

    <script type="text/javascript">
    const compCardTable = Vue.component('card-table', {
        template: `
        	<div>
				<BeeGridTable stripe :columns="columns" :data="data" :showSummary="true" :summary-method="customSummary">
                    <template slot-scope="{ column }" slot="actionHeader">
                    	<span>Action</span>
                    </template>
					<template slot-scope="{ row, index }" slot="action">
						<p>Edit</p>
		        		<p>Delete</p>
					</template>
					<template slot-scope="{ row, index }" slot="purchaseDate">
						<span v-model="row.purchaseDate" v-if="row.purchaseDate">{{ row.purchaseDate | formatDate}}</span>
					</template>
					<template slot-scope="{ row, index }" slot="purchasePrice">
						<span v-model="row.purchasePrice" v-if="row.purchasePrice">{{ row.purchasePrice }}€</span>
					</template>
					<template slot-scope="{ row, index }" slot="series">
						<span v-model="row.series" v-if="row.series">{{ row.series.name }}</span>
					</template>
					<template slot-scope="{ row, index }" slot="language">
    					<span v-model="row.language" v-if="row.language">{{ row.language.name }}</span>
    				</template>
    				<template slot-scope="{ row, index }" slot="updatedAt">
    					<span v-model="row.updatedAt" v-if="row.updatedAt">{{ row.updatedAt | formatDate}}</span>
    				</template>
				</BeeGridTable>
			</div>`,
		data() {
			return {
				columns: [
				    {
                        title: "Name",
                        key: "name",
                        align: "left",
                        resizable: true,
                        sortable: true,
                        filterMethod(column, field, value, row) {
                            if(value == null || value.length == 0){
                                return true;
                            }
                            if(row.name == null) {
                                return false;
                            }
                            return new RegExp(value, 'i').test(row.name);
                        }
                    },
                    {
                        title: "Cert",
                        key: "certNumber",
                        align: "left",
                        resizable: true,
                        sortable: true
                    },
                    {
                        title: "Grade",
                        key: "grade",
                        align: "left",
                        resizable: true,
                        sortable: true
                    },
                    {
                        title: "Population",
                        key: "population",
                        align: "left",
                        resizable: true,
                        sortable: true
                    },
                    {
                        title: "Purchase Date",
                        key: "purchaseDate",
                        slot: "purchaseDate",
                        align: "left",
                        resizable: true,
                        sortable: true
                    },
                    {
                        title: "Purchase Price",
                        key: "purchasePrice",
                        slot: "purchasePrice",
                        align: "right",
                        resizable: true,
                        sortable: true,
                        showSummary: true
                    },
                    {
                        title: "Grading Sendoff",
                        key: "gradingSendOffDate",
                        align: "right",
                        resizable: true,
                        sortable: true
                    },
                    {
                        title: "Grading Received",
                        key: "gradingReceivedDate",
                        align: "right",
                        resizable: true,
                        sortable: true
                    },
                    {
                        title: "Series",
                        key: "series",
                        slot: "series",
                        align: "left",
                        resizable: true,
                        sortable: true,
                        filterMethod(column, field, value, row) {
                            if(value == null || value.length == 0){
                                return true;
                            }
                            var cell = "";
                            if(row.series != null && row.series.name != null) {
                                cell = row.series.name;
                            }
                            return new RegExp(value, 'i').test(cell);
                        }
                    },
                    {
                        title: "Card Number",
                        key: "cardNumber",
                        align: "right",
                        resizable: true,
                        sortable: true
                    },
                    {
                        title: "Language",
                        key: "language",
                        slot: "language",
                        align: "right",
                        resizable: true,
                        sortable: true,
                        filterMethod(column, field, value, row) {
                            if(value == null || value.length == 0){
                                return true;
                            }
                            var cell = "";
                            if(row.language != null && row.language.name != null) {
                                cell = row.language.name;
                            }
                            return new RegExp(value, 'i').test(cell);
                        }
                    },
                    {
                        title: "Status",
                        key: "status",
                        align: "right",
                        resizable: true,
                        sortable: true
                    },
                    {
                        title: "Progress",
                        key: "progressValue",
                        align: "right",
                        resizable: true,
                        sortable: true
                    },
                    {
                        title: "Last Updated",
                        key: "updatedAt",
                        slot: "updatedAt",
                        align: "right",
                        resizable: true,
                        sortable: true
                    },
                    {
                        title: "Action",
                        key: "action",
                        slot: "action",
                        headSlot: "actionHeader",
                        align: "center",
                        resizable: true,
                        sortable: false,
                        hideFilter: true
                    },
				],
				data: []
			}
		},
		created() {
			axios
				.get('/api/cards')
            	.then(response => this.data = response.data)
		},
		methods: {
	        //Custom Sum Method
	        customSummary({ columns, data }) {
	          const sums = {};
	          columns.forEach((column, index) => {
	            console.log(column);
	            const key = column.key;
	            // Summary name column
	            if (column.key === "name") {
	              sums[column.key] = {
	                key: column.key,
	                value: "Sum",
	              };
	              return;
	            }
	            // sum money
	            if (column.key === "purchasePrice") {
	              const values = data.map((item) => Number(item[key]));
	              if (!values.every((value) => isNaN(value))) {
	                const v = values.reduce((prev, curr) => {
	                  const value = Number(curr);
	                  if (!isNaN(value)) {
	                    return prev + curr;
	                  } else {
	                    return prev;
	                  }
	                }, 0);
	                sums[key] = {
	                  key,
	                  value: v + "€",
	                };
	              } else {
	                sums[key] = {
	                  key,
	                  value: "N/A",
	                };
	              }
	            }
	          });
	          return sums;
	        },
	      }
    });
    
    const compSeriesTable = Vue.component('series-table', {
        template: `
        	<div>
				<BeeGridTable stripe :columns="columns" :data="data">
                    <template slot-scope="{ column }" slot="actionHeader">
                    	<span>Action</span>
                    </template>
					<template slot-scope="{ row, index }" slot="action">
						<p>Edit</p>
		        		<p>Delete</p>
					</template>
				</BeeGridTable>
			</div>`,
		data() {
			return {
				columns: [
				    {
                        title: "Name",
                        key: "name",
                        align: "left",
                        resizable: true,
                        sortable: true,
                        filterMethod(column, field, value, row) {
                            if(value == null || value.length == 0){
                                return true;
                            }
                            if(row.name == null) {
                                return false;
                            }
                            return new RegExp(value, 'i').test(row.name);
                        }
                    },
                    {
                        title: "Action",
                        key: "action",
                        slot: "action",
                        headSlot: "actionHeader",
                        align: "center",
                        resizable: true,
                        sortable: false,
                        hideFilter: true
                    },
				],
				data: []
			}
		},
		created() {
			axios
				.get('/api/series')
            	.then(response => this.data = response.data)
		}
    });
    
    Vue.filter('formatDate', function(value) {
        if (value) {
            var date = new Date(Date.parse(value));
            return moment(value).format('DD.MM.YYYY');
        }
    });
    
    const router = new VueRouter({
        routes: [
            {
                path: '/',
                component: compCardTable
            },
            {
                path: '/series',
                component: compSeriesTable
            }
        ],
        linkExactActiveClass: 'active'
    });
    
    var app = new Vue({
        el: '#content',
        router,
        data: {
            isLoading: false,
            globalCounter: 0
        }
    });
</script>
</body>
</html>
